server {
    listen 80;

    root /app;

    location ${STATIC_FILES_URL} {
        rewrite ${STATIC_FILES_URL}(.*) $1 break;
        try_files $uri =404;
    }

    location /posts {
        add_header Cache-Control "no-store";
        try_files /post.html last;
    }

    location / {
        add_header Cache-Control "no-store";
        try_files /index.html last;
    }
}
